## Test CBS data api

In [2]:
url = 'http://opendata.cbs.nl/ODataApi/OData/82016NED/Persoonskenmerken'
import requests
response = requests.get(url)
response.ok

True

In [3]:
jsonresponse = response.json()

In [5]:
import pandas as pd 
jsonresponse = response.json()
jsonresponse = jsonresponse['value']
data_pk = pd.DataFrame.from_dict(jsonresponse, orient="columns")
data_pk.head(10)

,CategoryGroupID,Description,Key,Title
0,1,None,T009002,Totaal personen
1,2,None,3000,Geslacht: Mannen
2,2,,4000,Geslacht: Vrouwen
3,3,None,41600,Leeftijd: jonger dan 27 jaar
4,3,None,53610,Leeftijd: 27 tot 45 jaar
5,3,De AOW-leeftijd is de leeftijd waarop het AOW-...,90150,Leeftijd: 45 jaar tot AOW-leeftijd
6,3,De AOW-leeftijd is de leeftijd waarop het AOW-...,90200,Leeftijd: AOW-leeftijd of ouder
7,4,Persoon met een Nederlandse achtergrond\r\n\r\...,1012600,Migratieachtergrond: Nederland
8,4,Persoon met een westerse migratieachtergrond\r...,2012655,Migratieachtergrond: westers
9,4,Persoon met een niet-westerse migratieachtergr...,2012657,Migratieachtergrond: niet-westers

In [6]:
url_data = 'http://opendata.cbs.nl/ODataApi/OData/82016NED/UntypedDataSet'
import requests
response_data = requests.get(url_data)
response_data.ok

True

In [84]:
jsonresponse_data = response_data.json()
jsonresponse_data = jsonresponse_data['value']
data = pd.DataFrame.from_dict(jsonresponse_data, orient="columns")

In [87]:
import re
total_df = pd.merge(data, data_pk, left_on='Persoonskenmerken', right_on='Key')
total_df[(total_df['Title'] == 'Migratieachtergrond: niet-westers') | (total_df['Title'] == 'Migratieachtergrond: niet-Nederland')]
total_df['Perioden'] = total_df['Perioden'].str.replace(r'MM', '-')
total_df.head()

,ID,Perioden,Persoonskenmerken,TotDeAOWLeeftijd_2,TotaalAantalPersonen_1,VanafAOWLeeftijd_3,CategoryGroupID,Description,Key,Title
0,0,2007-01,T009002,355530,389380,33640,1,None,T009002,Totaal personen
1,1,2007-02,T009002,354260,388240,33890,1,None,T009002,Totaal personen
2,2,2007-03,T009002,350920,385150,34140,1,None,T009002,Totaal personen
3,3,2007-04,T009002,348650,383120,34380,1,None,T009002,Totaal personen
4,4,2007-05,T009002,345910,380570,34570,1,None,T009002,Totaal personen