## Dag 1: 9 - 12

In [1]:
a = 11
b = 12

a * b

132

In [4]:
c = 1.5
type(c)

float

In [5]:
c.as_integer_ratio()

(3, 2)

In [8]:
my_str = 'hoi'
print(my_str)

'hoi'

In [9]:
float(my_str)

# show things that cannot be done

ValueError: could not convert string to float: 'hoi'

In [10]:
2 == 4

False

In [1]:
aaa = [1, 2, 3, 4]
print(aaa[1])

2

In [2]:
bbb = []

for i in aaa:
    plus1 = i + 1
    bbb.append(plus1)
    
print(bbb)

[2, 3, 4, 5]

In [16]:
i = 0
ccc = []

while i < 5:
    i = i+ 1
    ccc.append(i+1)
    
print(ccc)

[2, 3, 4, 5, 6]

In [24]:
import numpy as np

row1 = [1, 2]
row2 = [2, 5]

table = [row1, row2]

np.array(table)

array([[1, 2],
       [2, 5]])

## Dag 1: 13-16